# 1. הכי חשוב - המפתחות שלך!
.env

# 2. סביבה וירטואלית - תופסת המון מקום ואין טעם להעלות אותה
venv/

# 3. קבצי מטמון של פייתון - נוצרים אוטומטית בכל הרצה
__pycache__/
*.py[cod]

# 4. הגדרות מקומיות של כלי פיתוח (אם יש כאלו שמתחבאים)
.vscode/
.idea/

# 5. קבצי מערכת של ווינדוס (לפעמים נוצרים בתיקיות)
Thumbs.db


app.py